.multilingual .nav > li > a {
    padding: 1px 5px;
}

.navbar-static-top .multilingual {
    padding-top: 10px;
    float: right;
}

.navbar-static-top .multilingual {
    padding-top: 10px;
    float: right;
}

.navbar-fixed-top .multilingual {
    padding-top: 10px;
}
